extends addlayout

block content
  h1 Add

  form
      input(type="text", id="addName", placeholder="Namn:")
      br
      input(type="number", id="addPrice", placeholder="Pris:")
      br
      input(type="text", id="addDescription", placeholder="Beskrivning:")
      br
      input(type="submit", value="Update", id="txtButton")
      br
      br
      a(href="/") Tillbaka
  
  div.weather
    ul#utgifter